<ion-view hide-back-button="true" cache-view="true">
  <!--<ion-nav-bar class="bar-stable">-->
    <ion-nav-title class="nav-btns">
      <span ui-sref-active="active"  ui-sref="tab.new({reload: true})">消息</span>
      <span ui-sref-active="active"  ui-sref="tab.phone({reload: true})">电话</span>
    </ion-nav-title>
    <ion-nav-buttons side="secondary">
      <span ui-sref="invites">邀请</span>
    </ion-nav-buttons>
  <!--</ion-nav-bar>-->

  <ion-content class="padding">
    <h1>消息界面</h1>
  </ion-content>
  <!--<ion-nav-view name='new'></ion-nav-view>-->
</ion-view>
