<ion-view hide-back-button="true">
  <ion-nav-bar class="bar-stable">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-ios-arrow-back" nav-direction="back"

              ui-sref="taba.space"
      >
        空间
       <!-- ng-click="vm.goBack()"-->
        <!--ui-sref="tab.person"-->
      </button>
    </ion-nav-buttons>
    <ion-nav-title class="nav-btns">
      <span>更多</span>
    </ion-nav-title>
  </ion-nav-bar>

  <ion-content class="padding">
    <h1>更多界面</h1>
  </ion-content>
  <!--<ion-nav-view name='new'></ion-nav-view>-->
</ion-view>
